* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: url('qbg.png') no-repeat center center fixed;
  background-size: cover;
}

.app {
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
  max-width: 600px;
  margin: 120px auto;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.app h1 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#username {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 30, 77, 0.7);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #001e4d;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  transition: border 0.3s ease;
}

#username::placeholder {
  color: rgba(0, 30, 77, 0.5);
}

#username:focus {
  border-color: rgba(0, 30, 77, 1);
  outline: none;
}

#start-btn {
  background: rgba(0, 30, 77, 0.7);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
  max-width: 300px;
}

#start-btn:hover {
  background: rgba(0, 30, 77, 1);
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
  text-align: center;
}

#timer {
  font-size: 18px;
  font-weight: bold;
  color: #b40000;
  margin: 10px 0;
  text-align: center;
}

#answer-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  width: 100%;
}

.btn {
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #001e4d;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  color: #001e4d;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  width: 100%;
  max-width: 250px;
}

.btn:hover {
  background: #001e4d;
  color: #fff;
}

.correct {
  background-color: #28a745;
  color: white;
}

.incorrect {
  background-color: #ff4757;
  color: white;
}

#next-btn {
  margin-top: 20px;
  background: #001e4d;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#next-btn:hover {
  background: #004080;
}

.username {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 100;
}
